# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Outputs / data
outputs/
data/raw/
data/interim/
data/processed/
*.log

# Env
.env
.venv/
